.mycbgenie_ribbon_container { 

                                                                                                  --d:6px;  /* folded part */
                                                                                                  --c:blue; /* color */
                                                                                                  --f:16px; /* ribbon font-size */
                                                                                                  position: relative;
                                                                                                  overflow:initial;
                                                                                                }
                                                                                                .mycbgenie_ribbon_container::before {
                                                                                                  content: attr(data-ribbon);
                                                                                                  font-size:var(--f);
                                                                                                  /* I : position & coloration */
                                                                                                  position: absolute;
                                                                                                  top: 0;
                                                                                                  right: 0;
                                                                                                  color:#fff; //<?php echo "#".$mycbgenie_ribbon_tcolor; ?>;
                                                                                                  font-size:13px;
                                                                                                  
                                                                                                  transform: translate(29.29%, -100%) rotate(45deg);
                                                                                                  transform-origin: bottom left;
                                                                                                  padding: 4px 35px calc(var(--d) + 3px);
                                                                                                  background: linear-gradient(rgba(0,0,0,0.5) 0 0) bottom/100% var(--d) no-repeat var(--c);
                                                                                                  /* II : clipping */
                                                                                                  clip-path: polygon(0 0,100% 0,100% 100%,calc(100% - var(--d)) calc(100% - var(--d)),var(--d) calc(100% - var(--d)) , 0 100%);
                                                                                                  /* III : masking */
                                                                                                  -webkit-mask: 
                                                                                                      linear-gradient( 135deg, transparent calc(50% - var(--d)*0.707),#fff 0) bottom left,
                                                                                                      linear-gradient(-135deg, transparent calc(50% - var(--d)*0.707),#fff 0) bottom right;
                                                                                                  -webkit-mask-size:300vmax 300vmax;
                                                                                                  -webkit-mask-composite: destination-in;
                                                                                                   mask-composite: intersect;
                                                                                                }
                                                                                                
                                                                                                .left::before {
                                                                                                  left:0;
                                                                                                  right:auto;
                                                                                                  transform: translate(-29.29%, -100%) rotate(-45deg);
                                                                                                  transform-origin: bottom right;
                                                                                                }


/* used for special search title */
.six h4 {
  text-align: center;
  color:#222; font-size:30px; font-weight:400;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; color:#f660a2;
}
.six h4 span {
  line-height:2em; padding-bottom:15px;
  text-transform: none;
  font-size:.7em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}
.six h4:after, .six h4:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px; 
  margin:auto;
  background-color: #ccc;
}
.six h4:before { 
background-color:#f660a2;
  left:45px; width:90px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h4 {
  position: relative;
  //padding: 0;
  //margin: 0;
  //font-family: "Raleway", sans-serif;
 // font-weight: 300;
  //font-size: 40px;
  //color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h4 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
@media only screen and (max-width: 420px) {
	.six h4 span {line-height: 1.5em !important; font-size:0.60em !important; padding-top:15px !important;}
}
/* end of used for special search title */
